body{
   
    margin: auto;
   font: 25px/1.5 arial;
   width: 80%;
   box-sizing: border-box;
   background-image: url("img.jpg");
   background-size: cover;
   background-position-x:left;
   background-repeat: no-repeat;
   
   
}

h1{
    margin-top: 0px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
    background-color: white;
    text-align: center;
    font-size: 40px;
    padding:   30px;
}
#table{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    border: black 3px solid;
    border-radius: 19px;
        background-color: white;
}
.input{
    width:90% ;
    height: 30px;
    border-radius: 0px;
    font-size: 30px;
    box-sizing: border-box;
    padding: 5px ;
    
}
#eqn{
    padding: 0px;
    width: 90%;
    border: 1px solid black;
    box-sizing: border-box;
}
#all{
    box-sizing: border-box;
    border: white 5px solid;
    width:500px ;
    padding: 0.5%;
    margin: auto;
    border-radius: 19px;
    
}
#flex{
    display: flex;
    
    width: 100%;
    box-sizing: border-box;
    gap: 0px;
    padding: 10px;
}
.hidden {
    display: none;
}

#Grant{
    
    box-sizing: border-box;
    text-align: center;
    margin:2px;
    min-width: 150px;
    color: whitesmoke;
    border: whitesmoke solid 2px;
    border-radius: 10px;
    margin:auto 0px ;
    background-color:black;
    
}

#denied{
    box-sizing: border-box;
    text-align: center;
    margin:2px;
    min-width: 150px;
    color: whitesmoke;
    border: whitesmoke solid 2px;
    border-radius: 10px;
    margin:auto 0px ;
    background-color: black;
    
}
#button{
         
    width: 30%;
    min-height: 30px;
    border-radius: 0px;
    padding: 0px;
    
}
button{
    width: 100%;
    border-radius: 0px;
    height: 30px;
   padding: px;
    color: black;
    font-size: 20px;
    font-weight: 10px;
}
button:hover {
    background-color: blue;
    color: aliceblue;
    transition: 0.5s;
}